
.searchInputs {
    margin-top: 75px;
    display: flex;
    border: solid 2px #E21B70;
    width: 350px;
    margin-left: 450px;
  }
  
  .search input {
    background-color: white;
    border: 0;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    padding: 15px;
    height: 30px;
    width: 250px;
  }
  
  .searchIcon {
    height: 60px;
    width: 50px;
    background-color: white;
    display: flex;
    justify-content: right;
    align-items: end;
    place-items: center;
    
  }
  
  input:focus {
    outline: none;
  }
  .searchIcon svg {
    font-size: 35px;
  }
  .container{
    display: grid;
  grid-template-columns: 4fr 1fr;
  }
  .shop-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 50px 50px;
  }

  .cart-container{
    background-color: rgba(255, 153, 0, 0.3);
  }